<%- include ("../layouts/dashboard/header") %>

<main class="pt-5">

    <% if ( sessionFlash && sessionFlash.type == 'loginSuccess') { %>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "md-toast-bottom-left",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": 300,
                    "hideDuration": 1000,
                    "timeOut": 5000,
                    "extendedTimeOut": 1000,
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr.success(loginSuccess);
            });
        </script>
    <% } %>

    <div class="container w-100">
        <div class="row my-5">
            <div class="jumbotron">
                <h2 class="display-4">Dashboard</h2>
            </div>
        </div>
    </div>


</main>

<%- include ("../layouts/dashboard/footer") %>


