/* Variabels-Start */
/* Variabels-End */
/* Mixin-Start */
/* Mixin-End */
/*-------------- RESET STYLE ------------------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

ol,
ul {
  list-style: none;
}

/*-------------- RESET STYLE ------------------ */
@font-face {
  font-family: "vazir";
  src: url("../font/vazir.eot");
  /* IE9 Compat Modes */
  src: url("../font/vazir.ttf") format("truetype"), url("../font/vazir.eot") format("eot"), url("../font/vazir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yekan";
  src: url("../font/Yekan.eot");
  /* IE9 Compat Modes */
  src: url("../font/Yekan.ttf") format("truetype"), url("../font/Yekan.eot") format("eot"), url("../font/Yekan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*:before,
*:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

html[dir=rtl] .icons {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
}

body {
  font-family: "vazir", sans-serif, Arial, Helvetica;
  background: #fafafa;
  line-height: 1.6;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #424242;
  font-size: 0.875rem;
  font-family: "vazir", sans-serif, Arial, Helvetica;
  padding: 10px;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #424242;
  font-size: 0.875rem;
  font-family: "vazir", sans-serif, Arial, Helvetica;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #424242;
  font-size: 0.875rem;
  padding: 10px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #424242;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.material-tooltip {
  text-align: center;
  font-family: "Yekan", sans-serif, Arial, Helvetica;
  font-size: small;
  color: #fff;
  background-color: #263238;
}

#toast-container {
  bottom: auto !important;
  top: 20%;
}

div.toast {
  font-family: "vazir", sans-serif, Arial, Helvetica;
  color: #fff;
  border-radius: 100px !important;
  font-size: 15px;
  justify-content: center;
}

.info-toast {
  background-color: #17a2b8;
}

.success-toast {
  background-color: #28a745;
}

.error-toast {
  background-color: #dc3545;
}

.warning-toast {
  background-color: orangered;
}

#plotId {
  font-family: "vazir", sans-serif, Arial, Helvetica;
}

p::selection {
  background-color: #E8EAF6;
}

.spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #424242;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #673AB7;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #424242;
}

main {
  width: 80%;
  float: left;
}

.md-form label {
  right: 0 !important;
  left: unset !important;
}

.md-form label.active {
  transform: translate(24px, -18px) scale(0.8);
}

#toast-container {
  bottom: 20px !important;
  top: auto;
}

.modal {
  width: 80%;
}

.fixed-top {
  right: 20% !important;
}

nav .nav-link {
  color: #424242 !important;
  font-size: 14px !important;
}

.sidebar-fixed {
  height: 100vh;
  width: 20%;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 0 1.5rem 0 1.5rem;
}
.sidebar-fixed .list-group {
  text-align: right;
}
.sidebar-fixed .list-group .active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sidebar-fixed .logo-wrapper {
  width: 100%;
  text-align: center;
  padding: 2.5rem;
}
.sidebar-fixed .logo-wrapper img {
  max-height: 100px;
}
.sidebar-fixed .list-group-item {
  font-family: "Yekan", sans-serif, Arial, Helvetica;
  font-size: 18px;
  font-weight: lighter;
  padding: 10px 0;
}
.sidebar-fixed .list-group-item.active {
  font-weight: bold;
  background: none;
  border: none;
  box-shadow: none;
  color: #673AB7;
}

.send_product_frm {
  padding: 24px;
  max-width: 75%;
  margin: auto;
}
.send_product_frm .form-row {
  width: 90%;
  margin: auto;
}
.send_product_frm .form_title {
  font-family: "Yekan", sans-serif, Arial, Helvetica;
  font-size: 1.5rem;
}
.send_product_frm input {
  border-radius: 40px;
  text-indent: 24px;
}
.send_product_frm label {
  padding: 0 12px;
}
.send_product_frm .add_image_fieldset, .send_product_frm .add_document_fieldset, .send_product_frm .add_spec_fieldset {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 30px auto;
}
.send_product_frm .error-feedback {
  text-align: right;
  padding: 4px 8px;
  font-size: 13px;
  color: red;
}
.send_product_frm .file-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.send_product_frm .file-path {
  text-align: center;
}
.send_product_frm .file-path-wrapper {
  width: 90%;
}
.send_product_frm button[type=submit] {
  font-size: 18px;
  font-weight: bold;
  font-family: "Yekan", sans-serif, Arial, Helvetica;
  padding: 6px 0 !important;
}
.send_product_frm button[type=submit] i {
  display: none;
}
.send_product_frm .required > label::after {
  content: "*";
  color: red;
  vertical-align: sub;
  padding: 5px;
}

/*----------------------------Media Queries----------------------------*/
@media screen and (max-width: 1200px) {
  .sidebar-fixed {
    display: none;
  }

  main {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
