<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mdb.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
</head>


<body class="grey lighten-3">
<!--Main Navigation-->
<header>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar" id="site_navbar">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="navbar-brand waves-effect" href="#" target="_blank">
                <strong class="blue-text">سیسوگ</strong>
            </a>
            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Right -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-2">
                        <a class="nav-link waves-effect" href="#">درباره ما
                            <!--<span class="sr-only">(current)</span>-->
                        </a>
                    </li>
                </ul>
                <!-- Left -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a href="#" class="nav-link border border-light rounded waves-effect"
                           target="_blank" data-toggle="modal" data-target="#authModal">
                            ورود به حساب کاربری<i class="material-icons mr-2 align-middle">person_pin</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

    <input type="hidden" id="add_success_msg" value="محصول با موفقیت اضافه شد.">
    <input type="hidden" id="add_error_msg" value="خطا در افزودن محصول!">
    <input type="hidden" id="login_success" value="ورود موفقیت آمیز">
    <input type="hidden" id="login_error" value="نام کاربری یا کلمه عبور اشتباه است!">
    <input type="hidden" id="register_error" value="مشکل در ثبت نام!">
    <input type="hidden" id="register_success" value="ثبت نام با موفقیت انجام شد.">
    <input type="hidden" id="logout_success" value="از سایت خارج شدید.">
</header>
<!--Main Navigation-->


