<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mdb.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
</head>


<body class="grey lighten-3">
<!--Main Navigation-->
<header>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="navbar-brand waves-effect" href="#" target="_blank">
                <strong class="blue-text">سیسوگ</strong>
            </a>
            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Right -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-2">
                        <a class="nav-link waves-effect" href="#">درباره ما
                            <!--<span class="sr-only">(current)</span>-->
                        </a>
                    </li>
                </ul>
                <!-- Left -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item avatar dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="/assets/images/User-Avatar.png" class="rounded-circle z-depth-0"
                                 alt="avatar image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-left dropdown-secondary"
                             aria-labelledby="navbarDropdownMenuLink-55">
                            <!--<span class="dropdown-item">سلام کاربر جدید</span>-->
                            <a class="dropdown-item" href="/users/logout">خروج</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">
        <a class="logo-wrapper waves-effect">
            <img src="/assets/images/logo.png" class="img-fluid" alt="">
        </a>
        <div class="list-group list-group-flush">
            <a href="/dashboard" class="list-group-item list-group-item-action waves-effect <%= page_name === 'dashboard' && 'active' %>">
                پیشخوان
            </a>
            <a href="/dashboard/add_product" class="list-group-item list-group-item-action waves-effect <%= page_name === 'addProduct' && 'active' %>">
                ارسال محصول
            </a>
            <a href="/dashboard/products" class="list-group-item list-group-item-action waves-effect <%= page_name === 'productsList' && 'active' %>">
                لیست محصولات
            </a>
        </div>
    </div>
    <!-- Sidebar -->


    <input type="hidden" id="add_success_msg" value="محصول با موفقیت اضافه شد.">
    <input type="hidden" id="add_error_msg" value="خطا در افزودن محصول!">
    <input type="hidden" id="edit_error_msg" value="خطا در ویرایش محصول!">
    <input type="hidden" id="edit_success_msg" value="محصول ویرایش شد.">
    <input type="hidden" id="login_success" value="ورود موفقیت آمیز">
    <input type="hidden" id="login_error" value="نام کاربری یا کلمه عبور اشتباه است!">
    <input type="hidden" id="register_error" value="مشکل در ثبت نام!">
    <input type="hidden" id="register_success" value="ثبت نام با موفقیت انجام شد.">
    <input type="hidden" id="logout_success" value="از سایت خارج شدید.">
    <input type="hidden" id="delete_success_msg" value="محصول پاک شد.">
</header>
<!--Main Navigation-->


